form{
    height: 200px;
    width: 400px;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: #6d316d;
    background-color: rgb(194, 200, 233);
    border-radius: 5px;
    margin-top: 50px;
}

#numInput{
    padding-top: 20px;
    width: 60%;
    align-self: center;
}

#number {
    width: 70px;
    border: solid 2px #89bcc5;
    border-radius: 5px;
    color:rgb(102, 102, 102);
}

#coinInput {
    padding-top: 20px;
    width: 60%;
    align-self: center;
}

#coins {
    width: 90px;
    border: solid 2px #89bcc5;
    border-radius: 5px;
    color:rgb(102, 102, 102);
}

#makeMoney {
    margin-top: 20px;
    align-self: center;
}

#Penny {
    background: url(lincoln-125x125.png), linear-gradient(45deg, rgb(184,115,51), #935f42, #764c35, rgb(184,115,51));
    border: solid 2px rgb(131, 76, 14);
    border-radius: 50%;
    height: 120px;
    width: 120px;
    
}

#Nickel {
    background: url(jefferson-155x155.png);
    border: solid 2px rgb(121, 119, 119);
    border-radius: 50%;
    height: 150px;
    width: 150px;
}

#Dime {
    background: url(fdr-105x105.png);
    border: solid 2px darkgrey;
    border-radius: 50%;
    height: 100px;
    width: 100px;
   
}

#Quarter {
    background: url(washington-200x200.png);
    border: solid 2px rgb(102, 102, 102);
    border-radius: 50%;
    height: 200px;
    width: 200px;
}



#coinRow {
    display: flex;
    width: 90%;
    margin: auto;
    flex-wrap: wrap;
}

#total {
    height: 70px;
    width: 300px;
    border: solid 3px rgb(194, 200, 233);
    border-radius: 5px;
    color: #89bcc5;
    margin: auto;
    margin-top: 10px;
    display: block;
    text-align: center;
    padding-top: 30px;
}

@import "compass/css3";
@import url('https://fonts.googleapis.com/css?family=Inconsolata');

html, body {
  background-color: #e7e7ea;
  font-family: "Inconsolata", monospace;
  font-size: 1.13em;
  font-weight: bold;
}


.btn {
  color: rgb(16,24,50);
  cursor: pointer;
  display: inline-block;
  letter-spacing: 0.075em;
  padding: .8em 1em;
  margin: auto 2em;
  position: relative;
  align-self: center;
  text-transform: uppercase;
  border: 3px #89bcc5 solid;
  border-image: linear-gradient(45deg, #89bcc5  0%, #6d316d 100%);
  border-image-slice: 1 1 0 0;
  z-index: 1;
  box-shadow: -0.5em .5em transparentize(rgb(16,24,50),1);
  transform-origin: left bottom;
  
}

 .cta {
  background-color: #b5d8dd; 
  background-image: (linear-gradient(45deg, #89bcc5  0%, #6d316d 100%));
  border-image: linear-gradient(45deg, lighten(#89bcc5 ,20%) 0%, lighten(#6d316d,20%) 100%);
  border-image-slice: 1;
  color: white;
 }

 
  .cta:before {
    border-image-slice: 1;
    background-image: (linear-gradient(45deg, #89bcc5  0%, adjust-hue(#89bcc5 ,10%) 100%));
    left: -0.75em;
    top: .15em;
  }
  
  .cta:after {
    border-image-slice: 1;
    background-image: (linear-gradient(45deg, #89bcc5  0%, #6d316d 100%));
    bottom: -0.75em;
    right: .15em;
  }
  
  .cta:hover {
    background: white;
    border-image: linear-gradient(45deg, #89bcc5  0%, #6d316d 100%);
    border-image-slice: 1;
    color: #89bcc5;
  }
   
 .cta:before {
      height: 100%;
    }
.cta:after {
      width: 100%;
    }
  

 
